process {
    withName: make_miniature {
        beforeScript = "mkdir -p bin/colormaps; cp /miniature/bin/colormaps/* bin/colormaps/"
    }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
    maxRetries = 3
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
}