params {
    // Hardcoded parameters
    output_pickle_xarray = true
    output_tall_csv = true
    output_wide_csv = true
    dataset_prefix = "virscan"
    bowtie_optional_args = "--tryhard --nomaqround --norc --best --sam --quiet"
    replicate_sequence_counts = true
    run_zscore_fit_predict = true
    summarize_by_organism = true
    peptide_org_col = "organism"
    peptide_seq_col = "peptide"
    max_overlap = "7"
    sample_grouping_col = "sample"
    public_epitopes_col = "peptide_translate"
    fastq_stream_func = "zcat"

}

process {
    errorStrategy = 'retry'
    maxRetries = 5
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
}