process {
    errorStrategy = 'retry'
    maxRetries = 3
    withLabel: spaceranger {
        container = "quay.io/cumulus/spaceranger:${params.spaceranger_version}"
        beforeScript = ""
        cpus = { 4 * task.attempt }
        memory = { 24.GB * task.attempt }
    }
    withLabel: python {
        container = "quay.io/fhcrc-microbiome/python-pandas:4a6179f"
        beforeScript = ""
        cpus = { 4 * task.attempt }
        memory = { 30.GB * task.attempt }
    }
}
