process {
    errorStrategy = { task.attempt <= 5 ? 'retry' : 'terminate' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    withName: SRATOOLS_PREFETCH {
        container = "quay.io/biocontainers/sra-tools:3.0.9--h9f5acd7_0"
        ext.args = '--max-size 200g'
    }
}
